{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Posts</h2>
        </div>
        <div id="create-post-btn" class="col">
            <a href="{% url 'post_create' %}" class="btn btn-light" role="button">Create Post</a>
        </div>
        <div class="order-links-wrapper">
            <a href="?order=reverse_pub_date" class="order-link">Сначала новые</a>
            <a href="?order=rating" class="order-link">Сначала популярные</a>
            <a href="?order=pub_date" class="order-link">Сначала старые</a>
        </div>
    </div>
    
    {% include 'online_journal/includes/post_list.html' %}
{% endblock %}