{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field-wrapper mb-3">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}" class='form-label'>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock %}
