{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>{{post.title}}</h2>
        <p class="lead">{{post.text}}</p>
    </div>
    <div class="comment_label mt-5">
        <h3>{{ post.get_comments_count }} comments</h3>
    </div>
    <hr>
    {% for comment in post.get_comments_ordered_by_date %}
        <div class="comment_block mt-4">
            <div class="date mb-2">
                {{ comment.pub_date }}
            </div>
            <div class="text">
                {{ comment.text }}
            </div>
        </div>
    {% empty %}
        <h6 class="empty-content">No comments</h6>
    {% endfor %}

    <form action="{% url 'add_comment' pk=post.id %}" method="post">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="col">
                {{ form }}
            </div>
            <div class="col">
                <input type="submit" value="Write comment">
            </div>
        </div>
    </form>
{% endblock %}