{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }} | Online Journal
{% endblock %}

{% block content %}
    <div class="profile-wrapper">
        <div class="profile-data profile-block">
            <div class="profile-avatar">
                <img src="{{ user.get_avatar_url }}" alt="User Avatar" class='avatar-image'>
            </div>
            <div class="profile-info">
                <p><b>Nickname:</b> {{ user.username }}</p>
                <p><b>Registration date:</b> {{ user.registration_date }}</p>
                {% if user_has_permission_to_edit_profile %}
                    <a href="{% url 'edit_profile' slug=user.slug %}" class="btn btn-outline-primary">Edit profile</a>
                {% endif %}
            </div>
        </div>
        <div class="profile-bound-content profile-block">
            <form action="" method="POST">
                {% csrf_token %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Post</th>
                        <th scope="col">Publication date</th>
                        <th scope="col">Link</th>
                        {% if user_has_permission_to_edit_profile %}
                            <th scope="col">Is active</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for post in user.posts.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ post.title }}</td>
                                <td>{{ post.pub_date }}</td>
                                {% if user_has_permission_to_edit_profile %}
                                    {% if post.is_active %}
                                        <td><a href="{{ post.get_absolute_url }}">View</a></td>
                                        <td><input type="checkbox" name="is_active" value="{{ post.id }}" checked></td>
                                    {% else %}
                                        <td></td>
                                        <td><input type="checkbox" name="is_active" value="{{ post.id }}"></td>
                                    {% endif %}
                                {% else %}
                                    <td><a href="{{ post.get_absolute_url }}">View</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if user_has_permission_to_edit_profile %}
                    <input class="btn btn-primary" type="submit" value="Save">
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}