.navbar {
    background-color: #e3f2fd;
}

#main {
    max-width: 50%;
}

.empty-content {
    text-align: center;
    opacity: 50%;
}

#create-post-btn {
    text-align: right;
}

.btn-light:hover {
    background-color: #eee;
}

.order-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

.comment-form-wrapper {
    display: flex;
    justify-content: space-between;
}

#comment-textarea {
    width: 80%;
}

#comment-submit {
    align-self: center;
}

.auth-form-wrapper {
    max-width: 50%;
    margin: auto;
}