.navbar {
    background-color: #e3f2fd;
}

#main {
    max-width: 50%;
}

.empty-content {
    text-align: center;
    opacity: 50%;
}

#create-post-btn {
    text-align: right;
}

.btn-light:hover {
    background-color: #eee;
}

.order-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

.comment-form-wrapper {
    display: flex;
    justify-content: space-between;
}

#comment-textarea {
    width: 80%;
}

#comment-submit {
    align-self: center;
}

.account-form-wrapper {
    max-width: 50%;
    margin: auto;
}

.profile-data {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.profile-avatar {
    width: 33.333%;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

.profile-info {
    padding-left: 15px;
}

.avatar-image {
    max-width: 100%;
    height: auto;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden-post {
    background-color: rgb(255, 234, 234);
}

.like-icon:hover {
    fill: red;
}